In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("names.csv")
df

   Employeeid   EmployeeName
0            1        Suresh
1            2        Suresh
2            3        Suresh
3            4        Suresh
4            5        Suresh