In [5]:
import pandas as pd
df=pd.read_csv("company-sales.csv")
df.head(3)

,month_number,facecream,facewash,toothpaste,bathingsoap,shampoo,moisturizer,total_units,total_profit
0,1,2500,1500,5200,9200,1200,1500,21100,211000
1,2,2630,1200,5100,6100,2100,1200,18330,183300
2,3,2140,1340,4550,9550,3550,1340,22470,224700

In [ ]:
import matplotlib.pyplot as plt
plt