In [36]:
import pandas as pd  
df = pd.read_csv("home_prices2.csv")  
df.head()

   area    city    price
0   200  mumbai  2200000
1   200  nagpur  1200000
2   200    pune  1600000
3   300  mumbai  3500000
4   250  nagpur  1500000

In [41]:
df

    area    city    price
0    200  mumbai  2200000
1    200  nagpur  1200000
2    200    pune  1600000
3    300  mumbai  3500000
4    250  nagpur  1500000
5    400  mumbai  4500000
6    800  mumbai  8600000
7    350  nagpur  2200000
8    500  mumbai  5500000
9    600  mumbai  6300000
10   250    pune  2000000
11   400    pune  3000000
12   350    pune  2500000
13   450    pune  3500000
14   500    pune  4200000
15   500  nagpur  3500000
16   400  nagpur  3000000

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
le = LabelEncoder()

In [45]:
df["city_n"] = le.fit_transform(df["city"])  
df.head()

   area    city    price  city_n
0   200  mumbai  2200000       0
1   200  nagpur  1200000       1
2   200    pune  1600000       2
3   300  mumbai  3500000       0
4   250  nagpur  1500000       1

In [42]:
from sklearn.linear_model import LinearRegression

In [43]:
model = LinearRegression()

In [44]:
model.fit(df[["area", "city_n"]], df["price"])

KeyError: "['city_n'] not in index"

In [21]:
model.predict([[581, 0]])

C:\Users\admin\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([6164986.82129678])

In [ ]:
#y=m1x1 +m2x2 +........mnxn +b

In [22]:
import pickle

In [24]:
with open("myfile", "wb") as f:
    pickle.dump(model, f)

In [25]:
import joblib
joblib.dump(model,"myfile2")

['myfile2']

In [29]:
import joblib
model=joblib.load("myfile2")

In [39]:
model.predict([[565, 2]])

C:\Users\admin\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([4869583.55297839])